body {
  margin: 0;
  padding: 0;
}


.aside {
   width: 20%;
  height: 750px;
  position: fixed;
  top: 0px;
  left: 0px;
}


button {
  width: 110px;
  height: 35px;
  margin-left: 20px;
  margin-bottom: 30px;
}


.box-top {
  display: flex;
  width: 70%;
  height: 400px;
  margin-left: auto;
  margin-right: auto; 
}


.line {
  border-top: 1px solid #C0C0C0;
  margin-top: 0px;
  
}


.box-top-left {
  width: 70%;
  height: 100%;
}


.title-top-left {
  font-size: 21px;
  font-weight: bold; 
}


.image-top-left {
  width: 100%;
  height: 210px;
  background: yellow;
}


.box-top-right {
  width: 30%;
  height: 100%;
}


.text-box-top-right {
  width: 100%;
  height: 100px;
}


.title-box-top-right {
  margin-left: 5px;
  margin-right: 10px;
}


.main-block {
  width: 70%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.logo {
  width: 50px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}


ul {
  padding: 0;
  margin: 0;
}


li {
margin-left: 20px;
margin-bottom: 7px;
  list-style: none;
  color: #777777; 
  font-size: 18px;
  font-weight: 200;
  font-family: sans-serif;
}


.box-news {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  border: dotted;
  border-width: 1px;
}


.img-top {
    width: 170px;
    margin-top: 85px;
}
